/* change these */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently, 
name the variables differently, 
use the fonts in other ways in the font hierarchy etc. */

/* change these */
:root {
  --bg-color: white;
  --link-color: rgb(83, 155, 250);
  --link-hover-color: rgb(23, 124, 255);
  --color-4: rgb(161, 122, 251);
  --color-5: rgb(173, 90, 41);
  --color-6: rgb(134, 195, 99);

  --primary-font:  "Roboto", sans-serif;
  --secondary-font: "Lato", sans-serif;;
  --main-text-color: white;

  --white-space: 1rem;
}
body{ background-color: black;}

button {
  transition: all 2s ease-in-out;
}

a {
  transition: all 3s;
}

button:hover {
  box-shadow: 0px 1px 2px lightgray;
  border-style:inset;
  transform: scale(0.9) ;
}

button:active {
  background-color: var(--bg-color);
}

a:hover {
  color: var(--link-hover-color);
 
}
html {
  font-size: 100%;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--bg-color);
  color: black;
  width: 100%;
}
.header-wrapper {background-color: black; border-bottom: white dashed 4px; border-top: white solid 3px;}

.header-wrapper h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-right: 0.75em;
  font-weight: bold;
  color: var(  --color-4);
  text-align: center;
}

.header-wrapper h2 {
  font-size: 1.6em;
  color: var(  --color-5);
  font-weight: bold;
  margin: var(--white-space) 0;
  text-align: left;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  font-style: italic;
  color: var(  --color-6);
}

.header-wrapper h4 {
  font-size: 0.8rem;
  text-decoration:underline;
  color: var(  --color-6);
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  font-style: italic;
  font-size: 1.3rem;
  color: white;
  margin: 0.5rem 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--bg-color);
  border-radius: 10px;
}

.color-swatch-2 {
  background-color: var(--link-color);
  border-radius: 10px;
}

.color-swatch-3 {
  background-color: var(--color-6);
  border-radius: 10px;
}

.color-swatch-4 {
  background-color: var(--color-4);
  border-radius: 10px;
}

.color-swatch-5 {
  background-color: var(--color-5);
  border-radius: 10px;
}

.textures li {
  height: 30vw;
  width: 80%;
  margin-right: 4vw;
}

.texture-swatch-1 {
  background: url(../img/logo1.png) top left;
}

.texture-swatch-2 {
  background: url(../img/logo1.png) center ;
  
  background-repeat: no-repeat;
  background-size: 100%;
}

.texture-swatch-1 {
  background: url(../img/logo2.png) center ;
  background-repeat: no-repeat;
  background-size: 100%;

}

.texture-swatch-3 {
  background: url(../img/white_paperboard.png) top left repeat;
}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

button {
  padding: 1rem;
  border-radius: 6px;
  background:rgb(240, 238, 238);
  text-align: center;
  text-decoration: none;
  font:  1.25em/1 var(--primary-font);
  letter-spacing: 1px;
  color: black;
  
  text-shadow: 0px -1px 0px lightgray;
  transition: all 0.2s ease;
  cursor: pointer;
  border: 3px  black;
  border-style: outset;
  box-shadow: 0px 3px 5px lightgray;
  margin: 0 1rem 0 0; /* 22S - 0 margin-bottom mobile */
}

.secondary-button {
  background: black;
color: white;
text-shadow: 0px -1px 0px lightgray;
box-shadow: 0px 3px 5px darkgray;
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
  border-radius: 4px;
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--color-5);
}

.h2-sample {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 1.25rem;
  color: var(--color-6);
  
}

p.typography-sample {
  font-family: var(--secondary-font);
  line-height: 1.5;
  max-width: 960px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--primary-font);
  color: var(--link-color);
  font-weight: bold;
  
  transition: all 0.2s;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives ul {
  font-size: 2rem;
  
}
.adjectives ul li {
  font-size: 2rem;
  font-weight: bold;

  color:var(--color-6) ;
}

.adjectives ul {
  flex-direction: column;
}

footer {
  font-style: italic;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    /* width: 20%; 22s - already in mobile */
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
